@import "./fonts.css";

/* PAGES */
@import "../../pages/main/main.css";
@import "../../pages/subscribe/subscribe.css";
@import "../../pages/history/history.css";
@import "../../pages/help/help.css";

/* COMPONENTS */
@import "../../components/popup/popup.css";
@import "../../components/footer/footer.css";

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #F2F2F7;
  font-family: 'SF Pro Display', sans-serif;
  position: relative;
  user-select: none;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all .2s ease-in-out;
  background: transparent;
  border: none;
  outline: none;
}

.rootContainer {
  max-width: 576px;
  padding: 16px 16px 0 16px;
  margin: 0 auto;
}

.footerContainer {
  max-width: 576px;
  padding: 0 24px;
  margin: 0 auto;
}

/* PAGES */
.page {
  opacity: 1;
}

.pageHidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

/* BOX */
.box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0;
}

main > .box:first-child {
  margin-top: 0;
}

main > .box:last-child {
  margin-bottom: 0;
}

.iosBox {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: unset;
}

.iosBox--partBorder .iosBox__item {
  border-bottom: none;
}

.iosBox--partBorder .iosBox__item-content {
  border-bottom: 0.5px solid #BCBCC1;
}

.iosBox--partBorder .iosBox__item:last-of-type .iosBox__item-content {
  border-bottom: none;
}

.iosBox__item {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #BCBCC1;
}

.iosBox__item--OnlyText {
  font-size: 11px;
  font-weight: 400;
  padding: 7px 16px;
  color: #838388;
}

.iosBox__item:last-of-type {
  border-bottom: none;
}

.iosBox__item-icon {
  padding-right: 16px;
  padding-left: 16px;
}

.iosBox__item-content {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 16px;
}

.iosBox__item-content-text {
  font-size: 17px;
  color: initial;
  display: flex;
  flex-direction: column;
}

.iosBox__item-content-text-sub {
  font-size: 12px;
  font-weight: 400;
  color: #8A8A8E;
}

.main__reviewBox-item-content-rightText {
  font-size: 17px;
  font-weight: 400;
  color: #0A84FF;
}

/* SLIDERS */
.slick-list {
  margin: 0 -4px;
  overflow: visible;
}

.slick-slide {
  margin: 0 4px;
}

/* VPN BUTTON */
.vpnButton {
  padding: 10px;
  background: #3F88F7;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.vpnButton__header {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 24px;
  font-weight: 500;
}

.vpnButton__text {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

/* BUTTONS */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
  border-radius: 10px;
  margin: 0 auto;
  font-family: 'SF Pro Display', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button--Blue {
  background-color: #0A84FF;
  color: white;
}

.button--Text {
  color: #0A84FF;
  background-color: transparent;
  padding: 0;
}

.button--Red {
  background-color: #FF453A;
  color: white;
}
